.status-text {
    text-transform: capitalize;
    font-size: 1.2em;

    .status {
        font-weight: bold;
    }
}

md-card {
    width: 400px;
    box-sizing: border-box;
    margin: 16px;
}

.farmgate-widget {
    &.open {
        background-color: rgba(0, 255, 110, 1);
    }

    &.closed {
        background-color: rgba(255, 70, 50, 1);
    }

    &.opening {
        animation: opening 2s infinite;
    }

    &.closing {
        animation: closing 2s infinite;
    }

    .gate-voltage {
        margin-top: 3px;
    }

    footer {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .row1 {
        order: 1;
        display: flex;
        flex-direction: row;
    }
    .row2 {
        order: 2;
    }

    .fill-middle-space {
        flex: 1 1 auto;
    }

    .pedestrian-mode-container {
        display: flex;
        flex-direction: row;
        .text {
            order: 1;
            margin: 3px 10px 10px;
        }

        md-slide-toggle {
            order: 2;
            margin: 0 0 10px;
        }
    }



    .controller-state {
        text-transform: uppercase;
        text-align: right;
    }

    @keyframes opening {
        0% {background-color: rgba(255, 255, 255, 1);}
        40% {background-color: rgba(0, 255, 110, 1);}
        60% {background-color: rgba(0, 255, 110, 1);}
        100% {background-color: rgba(255, 255, 255, 1);}
    }

    @keyframes closing {
        0% {background-color: rgba(255, 255, 255, 1);}
        40% {background-color: rgba(255, 70, 50, 1);}
        60% {background-color: rgba(255, 70, 50, 1);}
        100% {background-color: rgba(255, 255, 255, 1);}
    }
}
