<!-- <h1> -->
<!--   {{title}} -->
<!-- </h1> -->
<div class="dashboard">
    <md-sidenav-layout>
        <md-sidenav #sidenav>
            <md-nav-list>
                <a md-list-item>One</a>
                <a md-list-item>Two</a>
                <a md-list-item>Three</a>
                <a md-list-item>Four</a>
            </md-nav-list>
        </md-sidenav>
        <md-toolbar color="primary">
            <button md-icon-button (click)="sidenav.open()">
                <md-icon>menu</md-icon>
            </button>
            <span class="title">Jarvis Dashboard</span>
        </md-toolbar>
        <md-toolbar class="weather-bar">
            <app-weather></app-weather>
        </md-toolbar>
        <div class="card-container">
            <app-farmgate></app-farmgate>
            <md-card class="other-widget">
                <md-card-title>Card Title</md-card-title>
                <md-card-content>
                    md card content md card content md card content
                    md card content md card content md card content
                    md card content md card content md card content
                    md card content md card content md card content 
                </md-card-content>
                
            </md-card>
        
        </div>
    </md-sidenav-layout>

</div>
